parameters:
  level: 8
  treatPhpDocTypesAsCertain: false
  paths:
    - %currentWorkingDirectory%
  fileExtensions:
    - php
    - phtml
  excludePaths:
    - 'vendor/*'
    - 'Test/*'
    - 'tmp/*'
